<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>Enter your Address Details</title>
</head>
<body>
<img class="top-image" src="../static/images/pizzahot.png" th:src="@{images/pizzahot.png}"/>
<div class="form-body">
    <div class="menu">
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/drink-selection">Our Drinks!</a></li>
            <li><a href="/pizzas">Our HOT Pizzas!</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a></li>
            <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
            <li>
                <form method="post" th:action="@{/logout}">
                    <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
                </form>
            </li>


        </ul>
        <br style="clear:left"/>
    </div>
<div class="form-body">
   <div  th:if="${user.getAddresses() !=null}"  th:each="address : ${user.getAddresses()}">
       <td th:text="${address.street}"></td>
       <td th:text="${address.apartmentNumber}"></td>
       <td th:text="${address.houseNumber}"></td>
       <form action="/address-input" method="POST">
           <input type="hidden" name="addressId" th:value="${address.id}"/>
           <p>
               <button>Select This address</button>
           </p>
       </form>
   </div>
    <form class="signup-form" action="/address-input" th:object="${address}" method="post">
        <h1> Address Information </h1>
        <label for="city">City</label>
        <input type="text" th:field="*{city}" id="city" class="form-input">
        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City name length must be between {min} and {max}</p>
        <label for="street">Street</label>
        <input type="text" th:field="*{street}" id="street" class="form-input">
        <label for="houseNumber">House Number</label>
        <input type="text" th:field="*{houseNumber}" id="houseNumber" class="form-input">
        <label for="apartmentNumber">Apartment Number</label>
        <p th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">Please, enter the valid house number</p>
        <input type="text" th:field="*{apartmentNumber}" id="apartmentNumber" class="form-input">
        <p th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}">Please, enter the valid apartment number</p>
        <label for="zip">Zip Code</label>
        <input type="text" th:field="*{zip}" id="zip" class="form-input">
        <p th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip code must be 5 digits</p>
        <label for="phoneNumber">Phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber" class="form-input">


        <input class="button" type="submit" value="Continue to Payment">
    </form>
</div>
</body>
</html>