<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>DRINKS FOR YOUR PIZZA!</title>
</head>
<body>

<img class="top-image" src="../static/images/pizzahot.png"  th:src="@{images/pizzahot.png}"/>
<div class="form-body">
    <div class="menu">
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a  sec:authorize="isAnonymous()" href="/registration">Registration</a></li>
            <li><a href="/drink-selection">Our Drinks!</a></li>
            <li><a href="/pizzas">Our HOT Pizzas!</a></li>
            <li><a href="/shoppingCart">Shopping cart</a> </li>
            <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a> </li>
            <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a> </li>
            <li><form method="post" th:action="@{/logout}">
                <button  th:class="getButton" sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
            </form></li>


        </ul>
        <br style="clear:left"/>
    </div>
    <th:block th:each="drink :${drinks}">
        <div class="card">
            <img class="product-image" th:src="${drink.pictureLink}" alt="picture of pizza must be here">
            <h1 th:text="${drink.name}"></h1>
            <p class="price" th:text="${drink.price}  + '$' ">  </p>
            <p th:text=" ${drink.description}"> </p>
            <form action="/buyDrink" method="POST">
                <input type="hidden" name="id" th:value="${drink.id}"/>
                <label>
                    <input type="text" name="quantity">
                </label>
                <p>
                    <button>Add to Cart</button>
                </p>

            </form>
        </div>
    </th:block>
</div>
</body>
</html>