<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>PIZZA TIIIIIME!</title>
</head>
<body class="center-body">
<img class="top-image" src="../static/images/pizzahot.png" th:src="@{images/pizzahot.png}"/>
<div class="menu">
    <ul>
        <li><a href="/main">Home</a></li>
        <li><a sec:authorize="isAnonymous()" href="/registration">Registration</a></li>
        <li><a href="/drink-selection">Our Drinks!</a></li>
        <li><a href="/pizzas">Our HOT Pizzas!</a></li>
        <li><a href="/shoppingCart">Shopping cart!</a> </li>
        <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a></li>
        <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
        <li>
            <form method="post" th:action="@{/logout}">
                <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
            </form>
        </li>
    </ul>
    <br style="clear:left"/>
</div>
            <form th:action="@{/addProductById}" method="POST">
            <th:block  th:each="product : ${products} ">
                <label th:text="${product.name}"></label>
                <label th:text="${product.price + '$'}"></label>
                <label th:text="${product.price + product.price / 3 + '$'}"></label>
                    <label>
                        <input type="checkbox" name="id" th:value="${product.id}">
                    </label><Br>
            </th:block>
                <p>
                    <button class="getButton">Add to Cart</button>
                </p>
            </form>

<li><a href="/main">Get more Pizzaaaaaaas!</a></li>
<li><a href="/shoppingCart">Shopping cart</a></li>
<li><a href="/drink-selection">Skip to Drinks!</a></li>
</body>
</html>