<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>PIZZA TIIIIIME!</title>
</head>
<body class="center-body">
<h3>Enter user name and password:</h3>
<form class="form-input" name='f' th:action="@{/login}" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<li><a href="/registration">Dont have an account? Create one! </a></li>
</body>
</html>