<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>PIZZA TIIIIIME!</title>
</head>
<body class="center-body">

<img class="top-image" src="../static/images/pizzahot.png" th:src="@{images/pizzahot.png}"/>
    <div class="menu">
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/drink-selection">Our Drinks!</a></li>
            <li><a href="/pizzas">Our HOT Pizzas!</a></li>
            <li><a href="/shoppingCart">Shopping cart!</a> </li>
            <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a></li>
            <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
            <li>
                <form method="post" th:action="@{/logout}">
                    <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
                </form>
            </li>


        </ul>
        <br style="clear:left"/>
    </div>
    <th:block th:each="pizza :${pizzas}">
        <div class="card">
            <img class="product-image" th:src="${pizza.pictureLink}" alt="picture of pizza must be here">
            <h1 th:text="${pizza.name}"></h1>
            <p class="price" th:text="${pizza.price}  + '$' ">  </p>
            <p th:text=" ${pizza.description}"> </p>
            <form action="/buyPizza" method="POST">
                <input type="hidden" name="id" th:value="${pizza.id}"/>
                <input type="radio" name="size" value="15">15 Cm<Br>
                <input type="radio" name="size" value="30">30 Cm<Br>
                <p>
                    <button>Add to Cart</button>
                </p>

            </form>
        </div>
    </th:block>

</body>
</html>