<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>PIZZA TIIIIIME!</title>
</head>
<body class="center-body">

<img class="top-image"  th:src="@{https://i.imgur.com/wlqbBqu.png}"/>
<div class="menu">
    <ul>
        <li><a href="/main">Home</a></li>
        <li><a sec:authorize="isAnonymous()" href="/registration">Registration</a></li>
        <li><a href="/drink-selection">Our Drinks!</a></li>
        <li><a href="/pizzas">Our HOT Pizzas!</a></li>
        <li><a href="/shoppingCart">Shopping cart!</a> </li>
        <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a></li>
        <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
        <li>
            <form method="post" th:action="@{/logout}">
                <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
            </form>
        </li>


    </ul>
    <br style="clear:left"/>
</div>
<form action="filterByDate/" method="post">
    <label>
        <input type="text" name="date">
    </label>Please, enter date in format "dd-MM-yyyy" (without "" )<Br>
    <p>
        <button>Search </button>
    </p>
</form>
    <table class="product-container">
        <caption><b>Orders</b></caption>
        <thead>
        <tr>
            <th>Order Date</th>
            <th>Order total</th>
            <th>Order User</th>
            <th>Order Information</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
        <td th:text="${order.date}"></td>
            <td th:text="${order.total}"></td>
            <td th:text="${order.user.firstName} + ' ' + ${order.user.secondName}"></td>
            <td><a th:href="@{showOrderWithId/{id}(id=${order.id})}">Show more info</a></td>
        </tr>

        </tbody>
        <p th:text=" 'Total earnings for this date' + ${total} "><p/>
    </table>

</body>
</html>
