<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Our Hot Pizzas for you</title>
</head>
<body class="center-body">
<div class="form-body">
    <table class="product-container">
        <caption PIZZAS FOR YOU></caption>
        <thead>

        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Picture</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="pizza : ${pizzas}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.price}"></td>
            <td th:text="${pizza.size}"></td>
            <td th:text="${pizza.description}"></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>