<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="center-body">
<img class="top-image" src="../static/images/pizzahot.png" th:src="@{images/pizzahot.png}"/>
<div class="menu">
    <ul>
        <li><a href="/main">Home</a></li>
        <li><a sec:authorize="isAnonymous()"href="/registration">Registration</a></li>
        <li><a href="/drink-selection">Our Drinks!</a></li>
        <li><a href="/pizzas">Our HOT Pizzas!</a></li>
        <li><a href="/shoppingCart">Shopping cart!</a></li>
        <li><a sec:authorize="hasRole('ADMIN')" href="/admin/user-list"> Admin page</a></li>
        <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
        <li>
            <form method="post" th:action="@{/logout}">
                <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
            </form>
        </li>
    </ul>
    <br style="clear:left"/>
</div>
<th:block>
    <span th:if="${!sessionCart.getUserCart().isEmpty()}">
<table class="product-container">
    <thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>  </td>
        <td>Extras</td>
           <td>Remove</td>
        <td>Add</td>
        <td>AMOUNT</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="food: ${sessionCart.getUserCart()}">
        <td th:text="${food.key.name}"></td>
        <td th:text="${food.key.price + ' $ '}"></td>
        <td><img class="product-image" th:src="${food.key.pictureLink}"> </td>
        <td th:width="80px" th:text="${food.key.getDescription()}"></td>
        <td><form th:action="@{'/removeProduct' + ${food.key.id}}" method="post">
                <input type="hidden" name="description" th:value="${food.key.description}">
            <button class="getButton"> -</button></form> </td>
        <td>     <form action="/addProduct" method="POST">
            <input type="hidden" name="id" th:value="${food.key.id}"/>
            <input type="hidden" name="description" th:value="${food.key.description}">
            <button class="getButton"> + </button></form></td>
        <td th:text="${food.getValue()}"> </td>
    </tr>
    </tbody>

</table>
        <form action="/clearCart" method="POST">
            <button class="getButton"> Clear Cart</button>
        </form>
                <form action="/address-input" method="GET">
            <button class="getButton"> CheckOut</button>
        </form>
         <p align="center" th:text="${'Total   ' + #numbers.formatDecimal(sessionCart.getTotalPrice(),2,2) + ' $'}">  </p>
    </span>
    <span th:if="${sessionCart.getUserCart().isEmpty()}">
        <h1 th:align="center">YOUR SHOPPING CART IS EMPTY!</h1>
    </span>

</th:block>
</body>
</html>